:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  width: 100rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.204);
  border-radius: 10px;
  border-collapse: collapse;
  margin: auto;
}

th {
  padding: 1rem;
  background-color:aliceblue;
  color: black;
  text-align: left;
}

th:first-of-type{
  border-top-left-radius: 10px;
}

th:last-of-type{
  border-top-right-radius: 10px;
}

tr:hover {
  background-color: rgba(232,232,232,0.638)
}

td {
  padding: 1rem;
}

.btn-container{
  margin: auto;
  width:20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.btn-container button{
  border:none;
  padding: 0.5rem 0.5rem;
  color:white;
  border-radius:10px;
  cursor: pointer;
}